<div class="navbar bg-base-100 shadow-sm">
    <div class="container mx-auto flex justify-between items-center px-4">
        <a class="btn btn-ghost text-xl normal-case" href="{% url 'index' %}">Chat app</a>

        <div class="flex items-center gap-6">

            <div class="dropdown dropdown-end">
                {% if request.user.is_authenticated %}
                    <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                        <div class="w-10 rounded-full">
                        <img src="{{ request.user.profile.url }}" alt="Profile" />
                        </div>
                    </label>
                    
                    <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box shadow z-10 mt-3 w-52 p-2">
                        
                        <li class="menu-title text-sm text-white font-bold">
                            {{ request.user.username }}
                        </li>
                    
                        <li><div class="divider my-2"></div></li>


                        <li><a>Profile</a></li>
                        <li><a>Settings</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                {% else %}
                    <div class="dropdown dropdown-end">
                        <label tabindex="0" class="btn btn-ghost">
                            Authentication
                        </label>
                        <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
                            <li><a href="{% url 'login' %}">Login</a></li>
                            <li><a href="{% url 'sign-up' %}">Sign up</a></li>
                        </ul>
                    </div>
                {% endif %}
            </div>

            {% if request.user.is_authenticated %}
                <div class="dropdown dropdown-end">
                    <label tabindex="0" class="btn btn-ghost">
                        Rooms
                    </label>
                    <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
                        <li><a>Add Room</a></li>
                        <li><a>Update Room</a></li>
                        <li><a>Remove Room</a></li>
                    </ul>
                </div>
            {% endif %}
            
        </div>
    </div>
</div>
