<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    

    <title>
        {% block title %}
            ChatApp
        {% endblock %}
    </title>

    <script>
        tailwind.config = {
            plugins: [daisyui],
            daisyui: {
                themes: ["light", "dark"],
                darkTheme: "dark",
            },
        };
    </script>

</head>
<body>

    {% include './partials/navbar.html' %}
    {% include './partials/alert.html' %}


    {% block content %}

    {% endblock %}




</body>
</html>