{% extends "../base.html" %}

{% block title %}
  {{ object.room_name }} | {{ app_name }}
{% endblock %}

{% block content %}
    <div class="max-w-2xl mx-auto mt-10">
        <div class="card bg-base-200 shadow-xl">
            <div class="card-body">
                <h2 class="card-title text-2xl font-bold">{{ object.room_name }}</h2>
                <p class="text-sm text-gray-500 mb-2">Created at: {{ object.created_at|date:"F j, Y - H:i" }}</p>
                <p class="mb-4">{{ object.room_description }}</p>
                <div class="text-sm text-right text-gray-400">
                    Author: {{ object.room_author.username }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
