{% extends "../base.html" %}
{% load widget_tweaks %}

{% block title %}
    {{ app_name }} | Login
{% endblock %}
{% load widget_tweaks %}

{% block content %}

        <div class="card w-full max-w-md shadow-xl bg-base-100 p-6">
            <h2 class="text-2xl font-bold mb-6 text-center">Login</h2>


            <form method="POST" class="space-y-5">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="alert alert-error">
                <span>{{ form.non_field_errors.0 }}</span>
                </div>
            {% endif %}

            <div class="form-control">
                <label class="label">
                <span class="label-text mb-2">Username</span>
                </label>
                {{ form.username|add_class:"input input-bordered w-full focus:outline-none focus:ring-2 focus:ring-primary" | attr:"placeholder:Enter your username" }}
                {% if form.username.errors %}
                <p class="text-error text-sm mt-1">{{ form.username.errors.0 }}</p>
                {% endif %}
            </div>

            <div class="form-control">
                <label class="label">
                <span class="label-text mb-2">Password</span>
                </label>
                {{ form.password|add_class:"input input-bordered w-full focus:outline-none focus:ring-2 focus:ring-primary" | attr:"placeholder:Enter your password" }}
                {% if form.password.errors %}
                <p class="text-error text-sm mt-1">{{ form.password.errors.0 }}</p>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary w-full">Login</button>
            </form>
        </div>


{% endblock %}
