{% extends "../base.html" %}
{% block content %}
    <div class="min-h-screen flex items-center justify-center bg-base-200 py-10">
    <div class="w-full max-w-md p-8 shadow-lg bg-base-100 rounded-box">
        <h2 class="text-2xl font-bold mb-6 text-center">Change Password</h2>
        <form method="post" class="space-y-4">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <div>
                <label class="label" for="{{ field.id_for_label }}">
                    <span class="label-text font-medium">{{ field.label }}</span>
                </label>
                <input 
                    type="{{ field.field.widget.input_type }}" 
                    name="{{ field.html_name }}" 
                    id="{{ field.id_for_label }}"
                    value="{{ field.value|default_if_none:'' }}"
                    class="input input-bordered w-full {% if field.errors %}input-error{% endif %}"
                    required
                >
                {% for error in field.errors %}
                    <p class="text-error text-sm mt-1">{{ error }}</p>
                {% endfor %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary w-full">Confirm Password Change</button>
        </form>
    </div>
    </div>
{% endblock %}
